<div class="video-background">
    <video loop="" class="fillWidth fadeIn animated" width="100%" height="auto" id="video-background" autoplay >
        <source src="videos/intro.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    </br>
    <div class="overlay-desc">
        <h1>Το Καλό δέμα</h1>
        <!--<h2>Το μέλλον στις μεταφόρες</h2>-->
    </div>
</div>
<div id="band" class="container text-center">
    <h1> Σχετικα με εμας</h1>
    <p><em>Η καλύτερη μεταφορική στο κόσμο</em></p>
    <p> Είμαστε μια ομάδα τριών φοιτητών που θα αλλάξη για παντά τις μεταφορορές στην Ελλάδα</p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center"><strong>Γιώργος Αποστολόπουλος</strong></p><br>
            <a  data-toggle="collapse">
                <img src="images/george.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>Χρήστος Γκουρνέλος</strong></p><br>
            <a  data-toggle="collapse">
                <img src="images/chris.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
        </div>
        <div class="col-sm-4">
            <p class="text-center"><strong>Μάκης Σταμάτης</strong></p><br>
            <a  data-toggle="collapse">
                <img src="images/makis.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
            </a>
        </div>
    </div>
</div>
<div id="contact" class="container">
    <h3 class="text-center">Εποικηνωνήστε μαζι μας</h3>
    <p class="text-center"><em>Για την καλύτερη εξυπηρέτηση αφήστε το μήνυμα σας εδώ!</em></p>

    <div class="row">
        <div class="col-md-4">
            <p><span class="glyphicon glyphicon-map-marker"></span>Πατρα, Ελλάδα</p>
            <p><span class="glyphicon glyphicon-phone"></span>Τηλεφωνο: +30 2613015108</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: info@kalodema.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Ονομά" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    <button class="btn pull-right" type="submit">Αποστολή</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>



